*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
img {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5rem;
}
.product__post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  margin-top: 100px;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  float: left;
  align-items: center;
  border-radius: 0.8rem;
}

.product__image {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}
.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}
.product__image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #06a64f;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.product__price {
  display: flex;
}
.product__price span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.1rem;
  font-weight: 600;

  margin: 0.5rem 0;
}
.op {
  padding-left: 50px;
}

.product__title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #06a64f;
}
.product__text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}
.product__cta {
  display: inline;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #8fc640 0%, #06a64f 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}
.product__cta:hover {
  background-image: linear-gradient(to right, #06a64f 0%, #8fc640 100%);
}
.product__buy {
  display: inline;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #8fc640 0%, #06a64f 100%);
  border-radius: 0.8rem;
  text-decoration: none;
  margin-left: 30px;
}
.product__buy:hover {
  background-image: linear-gradient(to right, #06a64f 0%, #8fc640 100%);
}

@media screen and (max-width: 1068px) {
  .product__post {
    max-width: 80rem;
  }
  .product__image {
    min-width: 30rem;
    max-width: 30rem;
  }
  .products {
    margin-top: 200px;
  }
}

@media screen and (max-width: 868px) {
  .product__post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .product__post {
    padding: 2.5rem;
    flex-direction: column;
  }
  .product__image {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
}
@media screen and (min-device-width: 1081px) and (max-device-width: 3068px) {
  .products {
    margin-left: 50px;
    margin-top: 1700px;
  }
}
